<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"   
   xmlns:h = "http://java.sun.com/jsf/html">

      
	<h:head>
        <title>JSF 2.0 Hello World</title>
    </h:head>
    <h:body>
    	<h2>JSF 2.0 Hello World Example</h2>
    	<h:form>
    	   <h:inputText value="#{greetingBean.name}"></h:inputText>
    	   <h:commandButton value="Welcome Me" action="greeting"></h:commandButton>
    	   <h:commandButton value="process Form" action="#{formController.processFormValues(greetingBean)}"></h:commandButton>
    	</h:form>
    </h:body>
</html>